body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    padding: 3px 0;
    text-align: center;
}

main {
    padding: 0;
    text-align: center;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.cuadro {
    background-image: url("https://cdn.computerhoy.com/sites/navi.axelspringer.es/public/media/image/2019/07/origen-nombres-informatica-nunca-hubieras-imaginado_2.jpg?tf=1200x");
    background-size: cover;
    background-position: center;
    color: #fff;
    padding: 53px 20px;
    height: 70vh; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cuadro h2 {
    font-size: 40px;
    margin-bottom: 20px;
}

.cuadro p {
    font-size: 22px;
    margin-bottom: 30px;
}

.botones {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.iniciar {
    background-color: #333;
    color: #fff;
    padding: 15px 30px;
    text-decoration: none;
    font-size: 18px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}
.registro{
    background-color: #333;
    color: #fff;
    padding: 15px 30px;
    text-decoration: none;
    font-size: 18px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.iniciar:hover {
    background-color: #555;
}

.registro:hover {
    background-color: #777;
}